body{
    font: 80% ;
    background: #2c3338;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    background-color:#d16f1f;
    color: #FFFFFF;
    margin: 0px;
    padding: 9px;
}

form h2{
    display: inline;
    color:#dedede;
    font-size:2.8em;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: Roboto;
}

form input[type="text"] {
    display: inline;
    padding:0.8em 0.8em 0.8em 0;
    font-size:1.4em;
    color:#4e4e4e;
    width:325px 
    

}
form input[type="submit"]{
    display: inline;
    border:none;
    background:#d16f1f;
    color:#FFFFFF;
    font-size:1.6em;
    padding:0.7em 1.2em;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
form input[type="submit"]:hover {
    background:#d16f1f;
    opacity: 0.8;
}

