body{
    font: 80% ;
    background: #2c3338;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    background-color:#d16f1f;
    color: #FFFFFF;
    margin: 0px;
    padding: 9px;
}

 h2{
    display: inline;
    color:#dedede;
    font-size:2.8em;
    font-weight: normal;
    letter-spacing: -1px;
    font-family: Roboto;
}

form{
    display: inline-block;
    width: 900px;
    height: 100px;

}
.menu{
    width: 200px;
    display: inline-block;
    

}
.menu .ultimo{
    padding-top: 70px;
}
a{
    border:none;
    background:#d16f1f;
    color:#FFFFFF;
    font-size:1.3em;
    padding:8px 13px;
    opacity: 1;
    border-radius: 5px;
    margin-left: 10 px;
    
    
}

form input[type="file"] {
    padding: 10px;

    font-size:1em;
    color: #FFFFFF;
    width:325px 
    

}
form input[type="button"]{
    
    border:none;
    background:#d16f1f;
    color:#FFFFFF;
    font-size:1.6em;
    padding:10px;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

form input[type="submit"]{
    display:flow-root;
    border:none;
    background:#d16f1f;
    color:#FFFFFF;
    font-size:1.6em;
    padding:10px 15px;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
form input[type="submit"]:hover {
    background:#d16f1f;
    opacity: 0.8;
}

