body{
    font: 80% ;
    background: #2c3338;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    background-color:#d16f1f;
    color: #FFFFFF;
    margin: 0px;
    padding: 9px;
}

.menu{
    width: 200px;
    display: inline-block;
    

}
.menu .ultimo{
    padding-top: 70px;
}
a{
    border:none;
    background:#d16f1f;
    color:#FFFFFF;
    font-size:1.3em;
    padding:8px 13px;
    opacity: 1;
    border-radius: 5px;
    margin-left: 10 px;
    
    
}